<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>标题</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<link rel="stylesheet" type="text/css" href="./build.css">
	<script src="//www.dpfile.com/app/owl/static/owl_1.2.5.js"></script>
	<script>
		Owl.start({
		project: 'project_name'
	})</script>
	<script>
		!function(e,n,t,o){function r(){return a._LXALogNTObject?"hybrid":o?o:/\b(mobile|iphone|htc)\b/gi.test(b)?"mobile":"web"}var a=window,i=document,c="_MeiTuanALogObject";if(a[c]=t,!a[t]){var s=function(){return s.q.push(arguments),s};s.q=s.q||[],s.v=n,s.l=+new Date,s.C=o,a[t]=a[t]||s;var u=i.getElementsByTagName("head")[0],l=i.createElement("script"),b=navigator.userAgent.toLocaleLowerCase(),g=r(),d="";d=e.length-3===e.indexOf(".js")?e:["//",e,"/source/",n,"/",g,".","js"].join(""),l.defer=l.async=!0,l.charset="utf-8",l.src=d,l.onload=l.onerror=function(){},u.appendChild(l)}}("analytics.meituan.net","stable","Analytics","");
		Analytics('config', 'appnm', '');
		Analytics('use', 'beauty', /* optional */ {uid: 'user-id'});
		Analytics('config', 'cid', 'page_cid');
		Analytics('send', 'pv');
	</script>
</head>
<body>
<div id="app">
	<app></app>
</div>
	<script src="./build.js"></script>
</body>
</html>
