<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>标题</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<link rel="stylesheet" type="text/css" href="./main.css">
	<meta name="lx:category" content="beauty">
	<meta name="lx:appnm" content="">
	<link rel="dns-prefetch" href="//analytics.meituan.net" />
	<script type="text/javascript">
        !(function (win, doc, ns) {
            var cacheFunName = '_MeiTuanALogObject';
            win[cacheFunName] = ns;
            if (!win[ns]) {
                var _LX = function () {
                    _LX.q.push(arguments);
                    return _LX;
                };
                _LX.q = _LX.q || [];
                _LX.l = +new Date();
                win[ns] = _LX;
            }
        })(window, document, 'LXAnalytics');
	</script>
	<script src="//analytics.meituan.net/analytics.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="//www.dpfile.com/app/owl/static/owl_1.2.5.js"></script>
	<script>
        Owl.start({
            project: 'project-name'
        })</script>

</head>
<body>
<div id="app">
	<app></app>
</div>
	<script src="./main.js"></script>
</body>
</html>
